<a href="https://colab.research.google.com/github/keithvtls/Numerical-Method-Activities/blob/main/%20Week%201%20-%20Programming%20Fundamentals%20/CpE_Programming_101_b_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Welcome to Python Fundamentals**
***by N.K Vitales Â© 2021***

In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## **Variable and Data Types**

Variable are containers for storing data values, which this stored data has different types that can do different things [1][2].

Python has the following data types built-in by default, in these categories [1]:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

In [ ]:
# It doesn't need to used the print() function if it doesn't need to format, by just using the variable it can already get the values

x = 1
a,b = 0, -1

To get the data type by using the type() function it can determine what kind of data type [2].

In [ ]:
type(x)

int

In [ ]:
y = 1.0
type(y)

float

In [ ]:
# By specifying the data type this will be converted into another type this is called casting. That the 'x

x = float(x)
type(x)

float

In [ ]:
s,t,u = "0", '1', 'one'
type(s)

str

In [ ]:
# But if a string will be converted as a integer this will gave an error

s_int = int(s)
s_int

0

## Operations

When the existance of a variable had veen known it can now begin to operate with by assigning a value into the variable.

### **Arithmetic**

Arithmetic operators are used with numerical values to execute basic mathematical operations [3]:

In [ ]:
a,b,c,d = 2.0, -0.5, 0, -32

In [ ]:
### Addition
S = a+b
S

1.5

In [ ]:
### Subtraction
D = b-d
D

31.5

In [ ]:
### Multiplication
P = a*d
P

-64.0

In [ ]:
### Division
Q = c/a
Q

0.0

In [ ]:
alpha = 10e-6
R = a/(c+alpha)
print(R)
print(round(R,3))
print(int(R)) # Truncation

199999.99999999997
200000.0
199999

In [ ]:
### Floor Division
Fq = a//b
Fq

-4.0

In [ ]:
Fr = a//(c+alpha)
Fr

199999.0

In [ ]:
### Exponentiation
E = a**b
E

0.7071067811865476

In [ ]:
### Modulo
mod = d%a
mod

0.0

In [ ]:
mod_ex = 13%5
mod_ex

3

### **Assignment Operations**


Assignment operators are used to assign values to the following variables [3]:

In [ ]:
G, H, J, K = 0, 100, 2, 2

In [ ]:
# if the cell is keep on runnng without declaring the variable it will keeps on adding to its self

G = 0
G += a
G

2.0

In [ ]:
H -= d
H

228

In [ ]:
J *= 2
J

4

In [ ]:
K **= 2
K

16

### **Comparators**

Comparators operators are used to compare two values [3]:

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

True

In [ ]:
## Non-equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2  
t1

False

### **Logical**

Logical operators are used to combine conditional statements [3]:

In [ ]:
res_1 == true_val

True

In [ ]:
## identity

res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
p, q = True, False
conj = p and q
conj

False

In [ ]:
p, q = True, False
disj = p or q
disj

True

In [ ]:
not(p)

False

In [ ]:
p, q = True, False
nand = not(p and q)
demorgan_nand = not p or not q
nand == demorgan_nand

True

In [ ]:
'''
(~p^q)v(p^~q) xor
~[(~p^~q)v(p^q)] xnor
(~p^q)V(p~q) xnor -- bidir
'''

p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

### **I/O**

To get an input to a user to do this Python had provided an input() function.

In [ ]:
print("Hello World")

Hello World

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 1

Hello World , Current run count is: 5

In [ ]:
print(f"{string}, Current count is: {cnt}")
cnt += 1

Hello World, Current count is: 3

In [ ]:
sem_grade = 82.243564657461234
name = "Juan"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello Juan, your semestral grade is: 82.24356465746123

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: Juan

'Juan'

In [ ]:
name = input("Kimi no nawa: ")
pg = float(input("Enter prelim grade: "))
mg = float(input("Enter midterm grade: "))
fg = float(input("Enter finals grade: "))
sem_grade = pg*w_pg + mg*w_mg + fg*w_fg
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kimi no nawa: Juan De la Cruz
Enter prelim grade: 80
Enter midterm grade: 81
Enter finals grade: 67
Hello Juan De la Cruz, your semestral grade is: 75.1

# **Looping Statements**

## **While**

A while loop statements is stated that the first condition to execute the loop is needed to be true, otherwose, the statement within the loop may never be executed.

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## **For**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc [4]

In [ ]:
# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
playlist = ["Heather", "Maniac", "Fake"]
print('Now Playing:\n')
for song in playlist:
    print(song)

Now Playing:

Heather
Maniac
Fake

# **Flow Control**

## **Condition Statements**

Python supports the usual logical conditions from mathematics [5]:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops [5].

In [ ]:
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
    print("Yey")
elif(numeral1>numeral2):
    print("Hoho")
else:
    print("Aww")
print("Hip hip")

Yey
Hip hip

# **Functions**

A function is a block of code which only runs when it is called.
It can pass data, known as parameters, into a function.
A function can return data as a result [6].

In [ ]:
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))
    
def delete_all_users ():
    print("Successfully deleted all users")

In [ ]:
userid = 0
delete_user(0)
delete_all_users()

Successfully deleted user: 0
Successfully deleted all users

In [ ]:
def add(a1, a2):
    return a1 + a2

def power(base, exponent):
    return base**exponent

In [ ]:
add(1,5)

6

In [ ]:
power(2,5)

32

### **Lambda Functions**

A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only have one expression [7].

In [ ]:
x = 4

In [ ]:
def f(x):
  return 2*(x*x)-1
f(x)

31

In [ ]:
g = lambda x: 2*(x*x)-1
print(g(x))

31

In [ ]:
'''
Create a grade calculator that computes for the semestral grade of a course.
Students could type their names, the name of the course, then their prelim,
midterm, and final grade.
The program should print the semestral grade in 2 decimal points and should
display the following emojis depending on the situation:
happy - when grade is greater than 70.00
laughing - when grade is exactly 70.00
sad - when grade is below 70.00
'''
happy, lol, sad = "\U0001F600","\U0001F923","\U0001F610"

In [ ]:
def computed_sem_grade(): 
    if sem_grade > 70:
      print("Hello {}, your semestral grade in {} is {}".format(name, course_name, "%.2f"%sem_grade), happy)
    elif sem_grade == 70:
      print("Hello {}, your semestral grade in {} is {}".format(name, course_name, "%.2f"%sem_grade), lol)
    else:
      print("Hello {}, your semestral grade in {} is {}".format(name, course_name, "%.2f"%sem_grade), sad)

name = input("Name: ")
course_name = input("Name of the Course: ")
prelim_grade = float(input("Enter prelim grade: "))
midterm_grade = float(input("Enter midterm grade: "))
final_grade = float(input("Enter finals grade: "))
weighted_prelim_grade, weighted_midterm_grade, weighted_final_grade = 0.3, 0.3, 0.4
sem_grade = prelim_grade*weighted_prelim_grade + midterm_grade*weighted_midterm_grade + final_grade*weighted_final_grade
computed_sem_grade()

Name: Keith
Name of the Course: DE
Enter prelim grade: 71
Enter midterm grade: 67
Enter finals grade: 70
Hello Keith, your semestral grade in DE is 69.40 ð

### **References**

[1] W3schools (2021). [***W3schools: Python Variables***](https://www.w3schools.com/python/python_variables.asp)

[2] W3schools (2021). [***W3schools: Python Data Types***](https://www.w3schools.com/python/python_datatypes.asp)

[3] W3schools (2021). [***W3schools: Python Operators***](https://www.w3schools.com/python/python_operators.asp)

[4] W3schools (2021). [***W3schools: Python For Loops***](https://www.w3schools.com/python/python_for_loops.asp)

[5] W3schools (2021). [***W3schools: Python Conditions***](https://www.w3schools.com/python/python_conditions.asp)

[6] W3schools (2021). [***W3schools: Python Functions***](https://www.w3schools.com/python/python_functions.asp)

[7] W3schools (2021). [***W3schools: Python Lambda***](https://www.w3schools.com/python/python_lambda.asp)